
    <div class="container" style="direction: rtl;">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-12 mr-auto ml-auto">
                <div class="d-flex flex-row mr-auto ml-auto" style="font: myFont;font-weight: bold;padding: 0; width: 100%;">
                    <ul class="list-group container-fluid" style="width: 100%; text-align: right; float: right;">
                        <li class="list-group-item amir_table">ادبیات<span style="margin-right: 10px; font-weight: bolder;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            <ul>
                                <li class="amir_table2"><a href="#">ادبیات پارسی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">ادبیات جهان</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">نگارش</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">شعر پارسی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">شعر خارجی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">طنز</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">فرهنگ لغت</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">زندگی نامه و خاطرات</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">سفرنامه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">فیلمنامه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">نمایشنامه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">نقد و برسی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#"></a></li>
                            </ul>
                        </li>
                        <li class="list-group-item amir_table">داستان و رمان<span style="margin-right: 10px;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            <ul>
                                <li class="amir_table2"><a href="#">داستان و رمان ایرانی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">داستان و رمان خارجی</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item amir_table">روانشناسی<span style="margin-right: 10px;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            <ul>
                                <li class="amir_table2"><a href="#">موفقیت</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">خانواده و روابط</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">خودسازی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">ارتباطات</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">کودک و نوجوان</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">بزرگسال</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item amir_table">اقتصاد<span style="margin-right: 10px;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            <ul>
                                <li class="amir_table2"><a href="#">بازاریابی و فروش</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">مدیریت و رهبری</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">کارآفرینی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">حسابداری</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">سرمایه گذاری و بورس</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">مدیریت پروژه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">امور مالی و بیمه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">مدیریت سازمان</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">اقتصاد</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">گزارش‌های آماری</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item amir_table">کامپیوتر<span style="margin-right: 10px;"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                            <ul>
                                <li class="amir_table2"><a href="#">آموزش کامپیوتر و اینترنت</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">سیستم عامل</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">برنامه نویسی</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">تجارت الکترونیک</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">هک و امنیت</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">آموزش شبکه</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">سخت افزار</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">طراحی وب سایت</a></li>
                            </ul>
                            <ul>
                                <li class="amir_table2"><a href="#">گرافیک کامپیوتری و انیمیشن</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>