<div class="col-lg-3 mr-auto ml-auto " style="padding: 10px;  float: right;">
    <ul class="list-group col-12 list" style="padding: 0;">

        <a href="{% url 'home' %}">
            <li class="list-group-item li2"><i class="fa fa-home amir-fa" aria-hidden="true"></i>خانه</li>
        </a>
        <a href="{% url 'profile' %}">
            <li class="list-group-item li2"><i class="fa fa-cogs amir-fa" aria-hidden="true"></i>ویرایش پروفایل</li>
        </a>
        <a href="{% url 'list' %}">
            <li class="list-group-item li2"><i class="fa fa-info-circle amir-fa" aria-hidden="true"></i>اطلاعات خرید</li>
        </a>
        <a href="{% url 'my-book' %}">
            <li class="list-group-item"><i class="fa fa-book amir-fa" aria-hidden="true"></i>کتابخانه من</li>
        </a>
        <a href="{% url 'pin' %}">
            <li class="list-group-item li2"><i class="fa fa-bookmark-o amir-fa" aria-hidden="true"></i>کتاب های نشان شده
            </li>
        </a>
        <a href="{% url 'shop' %}">
            <li class="list-group-item li2"><i class="fa fa-shopping-bag amir-fa" aria-hidden="true"></i>سبد خرید</li>
        </a>
    </ul>
</div>